mixin consultation(params= {})
  -
    const {
      textHeading= "",
      textInfo= "",
      typeBtn= "",
      textBtn= "",
      politicsText= "",
      linkText= "",
      hrefPolitics= "",
    } = params;
  
  .consultation
    .consultation__wrapper
      h2.consultation__heading= textHeading
      p.consultation__info= textInfo
      form.consultation__form(action="#")
        fieldset.consultation__fieldset
          label.consultation__label
            input.consultation__input(
              type="text",
              name="name",
              placeholder="Ваше имя",
              pattern="^[А-Яа-яЁё\s]+$",
              required
            )
          label.consultation__label
            input.consultation__input(
              id="phone2"
              type="tel",
              name= "phone",
              placeholder= "Номер телефона",
              pattern="\+?[0-9\s\-\(\)]+",
              required
            )
          .consultation__btn
            +button({
              type: typeBtn,
              text: textBtn,
              forConsult: true,
            })
          p.consultation__politics= politicsText
            span.consultation__link-block
              a.consultation__link(href= hrefPolitics)= linkText