mixin button(params = {})
  -
    const {
      type= "button",
      href= "",
      text= "",
      forHeader= false,
      forConsult= false,
      withIcon= false,
      srcImg= "",
      altImg= "",
    } = params;

    const tagBtn = href ? "a" : "button";
    const btnHeader = forHeader ? "button_header" : "";
    const btnConsult =  forConsult ? "button_consult" : "";
    const buttonAttributes = {
      a: {
        class: "button_link",
        href: href,
      },
      button: {
        class: "button_button",
        type: type,
        disabled: disabled,
      }
    }

  #{tagBtn}.button(class= `${btnHeader}${btnConsult}`)&attributes(buttonAttributes[tagBtn])
    if withIcon
      .button__icon
        img.button__icon-img(src=srcImg, alt=altImg)
    .button__text= text
