mixin card-benefit(params= {})
  -
    const {
      srcIcon= "",
      altIcon= "",
      cardTitle= "",
      cardText= "",
    } = params;
  
  .card-benefit
    .card-benefit__icon
      img.card-benefit__icon-img(src=srcIcon, alt=altIcon)
    .card-benefit__content
      p.card-benefit__title= cardTitle
      p.card-benefit__text= cardText