mixin tel(params = {})
  -
    const {
      href= "",
      telNumber= "",
      srcImg= "",
    } = params;

  .tel
    .tel__img-block
      img.tel__img(src=srcImg, alt="Ярлык телефона")
    .tel__link-block
      a.tel__link(href= href)= telNumber