mixin steps-work-card(params = {})
  -
    const {
      srcIcon= "",
      altIcon= "",
      timeText= "",
      withArrow= true,
      cardTitle= "",
      cardInfo= "",
      withSmallInfo= false,
      cardSmallInfo= "",
    } = params;
  
  .steps-work-card
    .steps-work-card__up-content
      .steps-work-card__icon-block
        img(src= srcIcon, alt= altIcon)
      .steps-work-card__time-block
        p.steps-work-card__time-text= timeText
        if withArrow
          .steps-work-card__arrow
            img(src= "./assets/images/arrow-step.svg", alt="Стрелка")
    .steps-work-card__down-content
      p.steps-work-card__title= cardTitle
      .steps-work-card__info-block
        p.steps-work-card__info= cardInfo
        if withSmallInfo
          p.p.steps-work-card__small-info= cardSmallInfo
